{% extends 'base.html.twig' %}

{% block title %}Listes Des Articles!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <div class="container mt-5">
            {% if articles %}
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                        <th scope="col">Article</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <th scope="row">{{article}}</th>
                            <td> <a href="/articles/1" class="btn btn-primary">Détails</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Aucun Articles
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
